.site-header {
  background: #FFEAAA;
}

/* DONE: Float the main header to the left, to make room for the hamburger menu. */
.heading-group-h1 {
  float: left;
  padding: 0 .5em .2em 1em;
  border-right: solid;
  border-bottom-right-radius: 10px;

}

.icon-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /*height: 50px;*/
  /*width: 50px;*/
  /*border: solid;*/
  align-self: flex-end;
  /*margin-top: 16%;*/
  margin-right: 1%;
  font-size: 3em;



}

.main-nav {
  padding: 0.1em;
  display: flex;
  flex-direction: column;
  /*border: solid;*/
  align-items: flex-end;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;

}

.main-nav:hover ul {
  display: block;
  /*border: solid;*/
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  .icon-menu {
    display: none;
  }
  .main-nav ul {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    clear: both;
    margin-top: 6%;

  }
  .main-nav:hover ul {
    display: flex;
    flex-direction: row;
    /*border: solid;*/
  }
}
